.ft{
    background-color: rgb(39, 1, 62);;
    color : #fff;
    text-align: center;
    padding-top: 70px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.ftt{
padding-bottom: 20px;
}
.fttt{
    padding: 10px;   
}
a {
    color: inherit; /* Use the color from the parent element (default color) */
    text-decoration: none; /* Remove underline (if needed) */
  }